body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../导游列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:193px;
    top:20px;
    width:383px;
    height:729px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:383px;
    height:729px;
}

.u1 {
    position:absolute;
    left:2px;
    top:356px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:255px;
    top:147px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:356px;
    top:148px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:309px;
    top:180px;
    width:141px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:243px;
    top:242px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../导游列表_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:235px;
    top:273px;
    width:300px;
    height:57px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:63px;
}

.u7 {
    position:absolute;
    left:2px;
    top:20px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../导游列表_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:235px;
    top:331px;
    width:300px;
    height:57px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:63px;
}

.u9 {
    position:absolute;
    left:2px;
    top:20px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../导游列表_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:235px;
    top:389px;
    width:300px;
    height:57px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:63px;
}

.u11 {
    position:absolute;
    left:2px;
    top:20px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../导游列表_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:235px;
    top:447px;
    width:300px;
    height:45px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../导游列表_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:434px;
    top:190px;
    width:54px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:10px;
    width:50px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../导游列表_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:498px;
    top:190px;
    width:44px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:10px;
    width:40px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../导游列表_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:498px;
    top:292px;
    width:22px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:20px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../导游列表_files/u18_normal.png');
}

.u20_container {
    position:absolute;
    left:498px;
    top:350px;
    width:22px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:20px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../导游列表_files/u18_normal.png');
}

.u22_container {
    position:absolute;
    left:498px;
    top:408px;
    width:22px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:20px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../导游列表_files/u18_normal.png');
}

.u24_container {
    position:absolute;
    left:498px;
    top:456px;
    width:22px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:20px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:226px;
    top:583px;
    width:321px;
    height:46px;
    overflow:hidden;
}

#pd3u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u27_normal {
    background-image: url('../导游列表_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u28 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../导游列表_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u30 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../导游列表_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u32 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../导游列表_files/u29_normal.png');
}

.u33_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u34 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u35_normal {
    background-image: url('../导游列表_files/u27_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u36 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../导游列表_files/u29_normal.png');
}

.u37_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u38 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../导游列表_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u40 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../导游列表_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u42 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u43_normal {
    background-image: url('../导游列表_files/u27_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u44 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../导游列表_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u46 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../导游列表_files/u39_normal.png');
}

.u47_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u48 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../导游列表_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u50 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u51_normal {
    background-image: url('../导游列表_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u52 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../导游列表_files/u49_normal.png');
}

.u53_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u54 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../导游列表_files/u39_normal.png');
}

.u55_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u56 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../导游列表_files/u49_normal.png');
}

.u57_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u58 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

