body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../登陆_注册_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:193px;
    top:20px;
    width:383px;
    height:729px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:383px;
    height:729px;
}

.u1 {
    position:absolute;
    left:2px;
    top:356px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:255px;
    top:147px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:356px;
    top:148px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:309px;
    top:180px;
    width:141px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../登陆_注册_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:226px;
    top:254px;
    width:320px;
    height:45px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u6 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../登陆_注册_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:226px;
    top:234px;
    width:320px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../登陆_注册_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:226px;
    top:299px;
    width:320px;
    height:45px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u10 {
    position:absolute;
    left:2px;
    top:13px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:309px;
    top:264px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:309px;
    top:309px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_normal {
    background-image: url('../登陆_注册_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:384px;
    top:387px;
    width:120px;
    height:45px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:51px;
}

.u14 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../登陆_注册_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:254px;
    top:387px;
    width:120px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:226px;
    top:583px;
    width:321px;
    height:46px;
    overflow:hidden;
}

#pd3u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u18_normal {
    background-image: url('../登陆_注册_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../登陆_注册_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../登陆_注册_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../登陆_注册_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u26_normal {
    background-image: url('../登陆_注册_files/u18_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../登陆_注册_files/u24_normal.png');
}

.u28_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u29 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../登陆_注册_files/u22_normal.png');
}

.u30_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../登陆_注册_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u33 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u34_normal {
    background-image: url('../登陆_注册_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../登陆_注册_files/u32_normal.png');
}

.u36_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u37 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../登陆_注册_files/u22_normal.png');
}

.u38_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../登陆_注册_files/u32_normal.png');
}

.u40_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u42_normal {
    background-image: url('../登陆_注册_files/u18_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u43 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../登陆_注册_files/u20_normal.png');
}

.u44_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u45 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../登陆_注册_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u47 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../登陆_注册_files/u20_normal.png');
}

.u48_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

