body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../预约导游_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:193px;
    top:20px;
    width:383px;
    height:729px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:383px;
    height:729px;
}

.u1 {
    position:absolute;
    left:2px;
    top:356px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:255px;
    top:147px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:356px;
    top:148px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:309px;
    top:180px;
    width:141px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:243px;
    top:247px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../预约导游_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:235px;
    top:272px;
    width:300px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../预约导游_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:235px;
    top:318px;
    width:300px;
    height:45px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../预约导游_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:235px;
    top:364px;
    width:300px;
    height:45px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../预约导游_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:309px;
    top:439px;
    width:120px;
    height:45px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:51px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../预约导游_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:236px;
    top:177px;
    width:50px;
    height:28px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:34px;
}

.u15 {
    position:absolute;
    left:2px;
    top:5px;
    width:46px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:344px;
    top:328px;
    width:155px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#818181;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17_normal {
    background-image: url('../预约导游_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:416px;
    top:273px;
    width:50px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:45px;
}

.u18 {
    position:absolute;
    left:2px;
    top:14px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../预约导游_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:455px;
    top:376px;
    width:22px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:20px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:226px;
    top:583px;
    width:321px;
    height:46px;
    overflow:hidden;
}

#pd3u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u22_normal {
    background-image: url('../预约导游_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../预约导游_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../预约导游_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../预约导游_files/u24_normal.png');
}

.u28_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u29 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u30_normal {
    background-image: url('../预约导游_files/u22_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../预约导游_files/u24_normal.png');
}

.u32_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u33 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../预约导游_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../预约导游_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u37 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u38_normal {
    background-image: url('../预约导游_files/u22_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u39 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../预约导游_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u41 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../预约导游_files/u34_normal.png');
}

.u42_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u43 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../预约导游_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u45 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u46_normal {
    background-image: url('../预约导游_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u47 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../预约导游_files/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../预约导游_files/u34_normal.png');
}

.u50_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u51 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../预约导游_files/u44_normal.png');
}

.u52_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u53 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

