body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../个人记录_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:193px;
    top:174px;
    width:383px;
    height:729px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:383px;
    height:729px;
}

.u1 {
    position:absolute;
    left:2px;
    top:356px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:255px;
    top:301px;
    width:52px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:356px;
    top:302px;
    width:58px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:309px;
    top:334px;
    width:141px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:226px;
    top:737px;
    width:321px;
    height:46px;
    overflow:hidden;
}

#pd3u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u6_normal {
    background-image: url('../个人记录_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u7 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../个人记录_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u9 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../个人记录_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u11 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../个人记录_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u14_normal {
    background-image: url('../个人记录_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../个人记录_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../个人记录_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../个人记录_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u21 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u22_normal {
    background-image: url('../个人记录_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../个人记录_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u25 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../个人记录_files/u18_normal.png');
}

.u26_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u27 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../个人记录_files/u24_normal.png');
}

.u28_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u29 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:46px;
    
}

.u30_normal {
    background-image: url('../个人记录_files/u6_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:45px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u31 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../个人记录_files/u20_normal.png');
}

.u32_container {
    position:absolute;
    left:81px;
    top:0px;
    width:80px;
    height:45px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u33 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../个人记录_files/u18_normal.png');
}

.u34_container {
    position:absolute;
    left:240px;
    top:0px;
    width:80px;
    height:45px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u35 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../个人记录_files/u24_normal.png');
}

.u36_container {
    position:absolute;
    left:160px;
    top:0px;
    width:80px;
    height:45px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:51px;
}

.u37 {
    position:absolute;
    left:2px;
    top:14px;
    width:76px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:236px;
    top:388px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../个人记录_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:230px;
    top:413px;
    width:300px;
    height:45px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u40 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../个人记录_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:230px;
    top:459px;
    width:300px;
    height:45px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u42 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../个人记录_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:230px;
    top:505px;
    width:300px;
    height:45px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u44 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../个人记录_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:508px;
    top:518px;
    width:22px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:236px;
    top:560px;
    width:288px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../个人记录_files/u39_normal.png');
}

.u48_container {
    position:absolute;
    left:230px;
    top:585px;
    width:300px;
    height:45px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../个人记录_files/u41_normal.png');
}

.u50_container {
    position:absolute;
    left:230px;
    top:631px;
    width:300px;
    height:45px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u51 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../个人记录_files/u43_normal.png');
}

.u52_container {
    position:absolute;
    left:230px;
    top:677px;
    width:300px;
    height:45px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:51px;
}

.u53 {
    position:absolute;
    left:2px;
    top:14px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../个人记录_files/u45_normal.png');
}

.u54_container {
    position:absolute;
    left:508px;
    top:686px;
    width:22px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:20px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

